# Environment Configuration
.env
.env.*

# Dependency directory
node_modules

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# extensions build output
extensions/*/build
extensions/*/dist

# lock files




# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
/.idea/.gitignore
/.idea/git_toolbox_blame.xml
/.idea/modules.xml
/.idea/polar-skate-co-riders.iml
/.idea/vcs.xml
